@model project_graduate.Models.myclass

@{
    ViewData["Title"] = "View";
}
    <form asp-controller="Home" asp-action="DecryptionText" method="post">
        <div class="vv">

            <textarea asp-for="cryptomsg" placeholder="input here" style="background-color:aliceblue;color:black"></textarea>

            <textarea asp-for="orignalmsg" placeholder="origin Text" style="background-color:darkgray;color:black"></textarea>
        </div>

        <button type="submit" id="vc" class="btn btn-primary">Decrypt DNA</button>


        <a href="Home\DownloadDecryptDocument">
            <button type="button" id="vx" class="btn btn-primary" style="background-color:bisque">@Html.ActionLink("save as File", "DownloadDecryptDocument")</button>

        </a>

    </form>
<div style="height:100px;">

</div>