@model project_graduate.Models.myclass

@{
    ViewData["Title"] = "View";
}
    <form asp-controller="Home" asp-action="DecryptionText" method="post">
        <div>
            <span style="margin-left:70px;color:forestgreen;font:larger">Enter key Decryption :</span>
            <input type="text"asp-for="key" placeholder="must enter 16 digit"style="margin-left:20px;margin-top:100px;" />
        </div>
        <div class="vv">

            <textarea asp-for="cryptomsg" placeholder="input here" style="background-color:aliceblue;color:black"></textarea>

            <textarea asp-for="orignalmsg" placeholder="if display strange symbols the key not right" style="background-color:navajowhite;color:black"></textarea>
        </div>

        <button type="submit" id="vc" class="btn btn-primary">Decrypt DNA</button>


        <a href="Home\DownloadDecryptDocument">
            <button type="button" id="vx" class="btn btn-primary" style="background-color:bisque">@Html.ActionLink("save as File", "DownloadDecryptDocument")</button>

        </a>

    </form>
<div style="height:100px;">

</div>