@model project_graduate.Models.myclass

@{
    ViewData["Title"] = "View";
}
<form asp-controller="Home" asp-action="Text" method="post">
    <div class="vv">

        <textarea asp-for="orignalmsg" placeholder="input here" style="background-color:aliceblue;color:black"></textarea>

        <textarea asp-for="cryptomsg" placeholder="the result" style="background-color:darkgray;color:black"></textarea>
    </div>
    <button type="submit" id="vc" class="btn btn-primary">Encrypt to DNA</button>
    <button type="button" id="vx" class="btn btn-primary">@Html.ActionLink("save as File", "DownloadEncryptDocument")</button>
    <div style="height:100px"></div>
    </form>