@model project_graduate.Models.myclass

@{
    ViewData["Title"] = "View";
}
<form asp-controller="Home" asp-action="Text" method="post">
    <div>
        <span style="margin-left:70px;color:forestgreen;font:larger">Enter key Encryption :</span>
        <input type="text" asp-for="key" placeholder="must enter 16 digit"style="margin-left:20px;margin-top:100px;" />
    </div>
    <div class="vv">
        
        <textarea asp-for="orignalmsg" placeholder="input here" style="background-color:aliceblue;color:black"></textarea>

        <textarea asp-for="cryptomsg" placeholder="the result" style="background-color:darkgray;color:black"></textarea>
    </div>
    <button type="submit" id="vc" class="btn btn-primary">Encrypt to DNA</button>
    <button type="button" id="vx" class="btn btn-primary"style="background-color:aliceblue">@Html.ActionLink("save as File", "DownloadEncryptDocument")</button>
    <div style="height:100px"></div>
    </form>