
@{
    ViewData["Title"] = "View";
}
<div class="vv">

    <textarea placeholder="input here"style="background-color:aliceblue;color:black"></textarea>

    <textarea placeholder="the result" style="background-color:darkgray;color:black"></textarea>
</div>
<button type="button" id="vc" class="btn btn-primary">Encrypt to DNA</button>
<button type="button" id="vx" class="btn btn-primary">save as file</button>
<div style="height:100px"></div>